:root {
    --background-color: #464343; 
    --accent-color: #7A7FE0;
    --opacity: 79%;
    --lock-color: #676363; 
    --text-color: #C3C3C3;
    --button-height: 30px;
    --input-height: 40px;
    --input-width: 230;
    --font-size-input-btn: 20px;
    --red-color: #590B08; 
}
.header {
    display: flex;
    
        h1 {
            margin: auto;
            margin-top: 0.5rem;
            font-family: "Marvel", sans-serif;
            font-weight: 700;
            font-size: 40px;
            color: var(--accent-color);
        }
}
.header-chat {
    display: flex;
    justify-content: space-between;
}
.profile-div {
    position: relative;
}
.user-header {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    background-color: var(--background-color);
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    
}
.username-header {
    margin-top: 0;
    position: absolute;
    top: 3.2rem;
    left: -0.5rem;
    font-size: 15px;
    text-align: center;
    
}
.settings {
    position: absolute;
    top: 1em;
    left: 1.4rem;

 }

.header-profile-pic  {
    object-fit: cover;
}
.profile-div {
    display: flex;
    flex-direction: column;
}

.header-chat{
    color: var(--accent-color);
    display: flex;
    
}
.FC {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    transform: rotate(-12deg);
}

@media (min-width: 550px) { 
    .header-chat {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        max-width: 60rem;
        margin: auto;
        /* justify-content: space-around; */
   
    }
}


/* 
@media (min-width: 1000px) { 
    .settings {
        right: 4.5rem;
    }
    .username-header{
        right: 4.2rem;
    }
} */