:root {
    --background-color: #464343; 
    --accent-color: #7A7FE0;
    --opacity: 79%;
    --lock-color: #676363; 
    --text-color: #C3C3C3;
    --button-height: 30px;
    --input-height: 40px;
    --input-width: 230;
    --font-size-input-btn: 20px;
    --red-color: #590B08; 
}

.login-box {
    background-color: var(--accent-color);
    display: flex;
    margin: auto;
    margin-top: 5em;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-radius: 8px;
    gap: 1em;
    max-width: 17em;
        h2 {
            text-align: center;
            margin: 0.2em;
            color: var(--background-color);
        }
}

.login-btn {
    background-color: var(--background-color);
    color: var(--accent-color);
}
.create-user-btn {
    background-color: var(--accent-color);
    color: var(--background-color);
   
}

.wrong-login {
    margin: 0;
    visibility: hidden;
}
.not-wrong {
    visibility: visible;
    margin: 0;
    color: var(--red-color);
}

.visible {
    color: #590B08;
    margin: 0;
    margin-bottom: -1em;
}
.invisible {
    visibility: hidden;
    margin: 0;
    margin-bottom: -1em;
}
.h3-create {
    text-align: center;
    color: var(--accent-color);
    margin-top: 2rem;
    margin-bottom: 0;
}
.new-login-btn {
    height: var(--button-height);
    border-radius: 11px;
    border: 1px solid rgb(58, 57, 57);
    background-color: var(--background-color);
    color: var(--accent-color);
    font-size: var(--font-size-input-btn);
}