:root {
    --background-color: #464343; 
    --accent-color: #7A7FE0;
    --opacity: 79%;
    --lock-color: #676363; 
    --text-color: #C3C3C3;
    --button-height: 30px;
    --input-height: 40px;
    --input-width: 230;
    --font-size-input-btn: 20px;
}
* {
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;;
}

body {
    background-color: var(--background-color);
}
.header {
    display: flex;
  
        h1 {
            margin: auto;
            margin-top: 0.5rem;
            font-family: "Marvel", sans-serif;
            font-weight: 700;
            font-size: 40px;
            color: var(--accent-color);
        }
}
.header-chat {
    display: flex;
    justify-content: space-between;
}
.user-header {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    background-color: var(--background-color);
    
}
.settings {
   position: absolute;
   right: 0.4em;
   top: 1.5em;
}

.header-profile-pic img {
    object-fit: cover;
}
main {
    display: flex;
    flex-direction: column;
}

.login-box {
    background-color: var(--accent-color);
    display: flex;
    margin: auto;
    margin-top: 5em;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-radius: 8px;
    gap: 1em;
    max-width: 17em;
        h2 {
            text-align: center;
            margin: 0.2em;
            color: var(--background-color);
        }
}
.purple-p {
    color: var(--accent-color);
    text-align: center;
    text-decoration: underline;
}

.input {
    height: var(--input-height);
    width: var(--input-width);
    font-size: var(--font-size-input-btn);
    background-color: var(--accent-color);
    border: 1px solid var(--background-color);
    color: var(--background-color);
}

.button {
    width: 123px;
    height: var(--button-height);
    font-size: var(--font-size-input-btn);
    border-radius: 11px;
    margin: auto;
    border: 1px solid rgb(58, 57, 57)
}
::placeholder {
    color: var(--background-color);
}
/* .button:hover {
    box-shadow: inset 10px 10px 10px var(--lock-color);
} */

.login-btn {
    background-color: var(--background-color);
    color: var(--accent-color);
}
.create-user-btn {
    background-color: var(--accent-color);
    color: var(--background-color);
   
}
.header-chat{
    color: var(--accent-color);
    display: flex;
    /* justify-content: space-between; */
    
}
.FC {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    transform: rotate(-12deg);
}
.main-chatrooms{
    color: var(--accent-color);
}
.chat-room-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #2F2C2C;

        h3 {
            color: var(--accent-color);
        }
    

}
